.controls a{
   font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
}
.delete-link{
    
    color:#888;
}
.delete-link:hover{

    color: red;
}
.back-link{
    color: #888 ;
}
.back-link:hover{

    color: #00bc8c;
    
}
h3{
    font-size: 1.1rem;
}
p{
    margin-bottom: 0;
}
 textarea.form-control{
     margin-bottom: 2em;
 }

 .autor{
     margin-bottom: 15px;
 }